{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{%for p in prop %}
  <div class="card">
    <img class="images" src="{{url_for('get_image', filename=property.photo)}}">
    <div class="card-body">
      <h3>{{property.property_title}}</h3>
      <h3>{{property.location}}</h3>
      <h3>{{property.description}}</h3>
      <a href="{{url_for('propertyid', propertyid=property.id)}}" class="btn btn-primary">View property</a>
    </div>
  </div>
{% endfor %}
{% endblock %}