{% extends 'base.html' %}

{% block main %}
<div class="containerfordis">
    <img class="images" src="{{ url_for('get_image',filename=property.photo)}}">
        <div class="c-body">
            <h2>{{property.property_title}}</h2>
            <div class="containerforpandt">
                <span class ="price">${{property.price}}.00</span>
                <span class="types">{{property.property_type}}</span>
            </div>
            <br><p>{{property.description}}</p><br>
            <div class="containerforbedandbathoom">
                <div class="bed">
                    <img class="images" src="{{ url_for('get_image',filename='bed.jpg')}}">
                    <span class= bed>{{property.rooms}} Bedrooms</span>
                </div>
                <div class="bath"> 
                    <img class="images" src="{{ url_for('get_image',filename='bath.jpg')}}">
                    <span class= "bath">{{property.bathrooms}} Bathrooms</span>
                </div>
            </div>
                <img class="images" src="{{ url_for('get_image',filename='location.jpg')}}">
                <p>{{property.location}}</p><br>
                <button type="button" class="btn btn-info">Email Realtor</button>
        </div>
</div>
  
{% endblock %}